.manualCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;

  &:first-child {
    padding-top: 0;
  }

  .manualLink {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 16px;
    align-items: center;
    width: 100%;

    .iconColumn {
      display: inline-flex;
      flex: 0 0 24px;
      min-width: 24px;
      min-height: 24px;

      &.manualIcon {
        margin-right: 16px;
      }

      &.downloadIcon {
        margin-left: 16px;
      }
    }
  }

  .blockManual {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #302E58;
    padding-bottom: 16px;

    .textColumn {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;

      .title {
        color: #FFF;
        font-size: 17px;
        margin-bottom: 8px;
        font-weight: 500;
        letter-spacing: -0.442px;
        line-height: 129%;
      }

      .description {
        color: #C2C5F3;
        font-size: 11px;
        letter-spacing: 0.066px;
      }
    }
  }
}
