.manualsPage {
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    background-image: url('@/assets/images/manuals/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
}
