.mediaMeditation {
  &[data-index="1"]  {
    background: radial-gradient(circle at top left, rgba(153, 23, 255, 0.45), rgba(153, 23, 255, 0.2) 30%, rgb(33, 26, 65) 65%)
  }

  &[data-index="4"]  {
    background: radial-gradient(circle at top left, rgba(153, 23, 255, 0.45), rgba(153, 23, 255, 0.2) 30%, rgb(33, 26, 65) 65%)
  }

  &[data-index="5"] {
    background: radial-gradient(circle at top left, rgba(255, 23, 107, 0.45), rgba(255, 23, 107, 0.2) 30%, rgb(33, 26, 65) 65%)
  }

  &[data-index="6"],  {
    background: radial-gradient(circle at top left, rgba(23, 255, 116, 0.45), rgba(23, 255, 116, 0.2) 30%, rgb(33, 26, 65) 65%)
  }
}
