.trackerInfo {
  display: flex;
  align-items: center;

  .waterIcon {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  .waterVolume {
    display: flex;

    .volume {
      color: #6D9DDC;
      font-size: 16px;
      letter-spacing: -0.32px;
    }
  }
}
