.welcomeUser {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 999;
  margin-bottom: 36px;
  margin-top: 15px;

  .user {
    display: flex;
    max-width: 130px;
    gap: 5px;

    .greetings {
      display: grid;
      grid-template-columns: 32px 1fr;
      gap: 8px;

      .userAvatar {
        display: block;
        width: 32px;
        border-radius: 50%;
        height: 32px;
      }

      .userInfo {
        display: flex;
        flex-direction: column;

        .helloUser {
          color: #8A8A8E;
          font-size: 11px;
          letter-spacing: 0.066px;
        }

        .username {
          color: #FFF;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: -0.154px;
        }
      }

      .loader {
        width: 25px;
        height: 25px;
        border: 2px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
      }

      @keyframes rotation {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
    
    .arrowIcon {
      background: transparent;
      cursor: pointer;
    }
  }
  
  .questions {
    background: transparent;
    cursor: pointer;
  }
}