.headerPage {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.442px;
  margin-bottom: 24px;
  font-family: 'Playfair Display', serif;
  margin-top: 20px;
}

.headerVideoTitle {
  font-size: 24px;
}
