.ModalWindow {
  position: fixed;
  left: 16%;
  top: -42%;

  width: 614px;
	height: 614px;
	border-radius: 60%;
  background-color: #2545ED;
  cursor: default;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 9999;
}

.ModalWindow.open {
  opacity: 1;
  transform: translate(0, 0);
}

@keyframes slideInFromTopRight {
  0% {
      opacity: 0;
      transform: translate(100%, -100%);
  }
  100% {
      opacity: 1;
      transform: translate(0, 0);
  }
}

.ModalWindow.open {
  animation: slideInFromTopRight 0.5s ease-out forwards;
}

.wrapper {
  display: flex;
  flex-direction: column;
	align-items: end;
  gap: 46px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 22%;
}

.questions {
	color: rgba(255, 255, 255, 1);
	font-weight: 600;
	font-size: 22px;
	letter-spacing: -0.8px;
	line-height: 28px;
	max-width: 150px;
	text-align: end;
}

.button {
	background: rgba(255, 255, 255, 0.16);
		padding: 17px 41px 17px 41px;
		border-radius: 16px;
		font-weight: 600;
		font-size: 16px;
		align-items: center;
		letter-spacing: -0.32px;
		color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.5s;
    cursor: pointer;
    &:active {
      background: rgba(255, 255, 255, 0.48);
      transition: background-color 0.5s;
    }

}

.icon {
  position: absolute;
  bottom: 103%;;
  right: 5%;
	width: 46px;
	height: 46px;
	background-color: #150A48;
	border-radius: 50%;
	> svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	}
}