.completePercent {
  display: flex;
  align-items: center;
  border-radius: 100px;
  height: 20px;
  overflow: hidden;
  background: linear-gradient(0deg, #0B0526 0%, #0B0526 100%), #D9D9D9;

  .completeNumber {
    display: flex;
    border-radius: 100px;
    height: 100%;
    background: linear-gradient(270deg, #825EEA 0%, #5E6CEA 50%, #5E6CEA 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #4A67FF;


    .number {
      font-size: 14px;
      font-weight: 600;
      position: absolute;
      transform: translate(-50%, 0);
      left: 50%;
      letter-spacing: -0.154px;
      color: #ffffff;
    }

    .numberWater {
      color: #0B0526;
    }
  }
}




