.container {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 30px;
  font-weight: 500;
  display: block;
}

.description {
  display: block;
  margin-top: 10px;
  font-size: 15px;
}

.button {
  margin-top: 10px;
}
