.bonusInfoBuy {
  display: flex;

  .bonusInfoIcon {
    max-width: 16px;
    max-height: 16px;
    margin-right: 9px;
  }

  .bonusInfoDescription {
    color: #C2C5F3;
    font-size: 14px;
    letter-spacing: -0.154px;

    .bonusInfoText {
      color: #516DFF;
      font-weight: 600;
    }
  }
}